*{
 box-sizing: border-box;
}

body{
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(201, 245, 245);
}

.bismillah{
    margin: 50px;
    text-align: center;
}

.main{
    background-color: #d0ecf0;
    padding-left: 100px;
    padding-right: 100px;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-items ul{
    display: flex;
    gap: 20px;
    justify-content: space-around;

}

 li {
    list-style: none;
    
}

li  a{
    text-decoration: none;
    
}


.banner-title, .banner-detail, .btn-div, .banner-img-div{
    text-align: center;
}

.banner-title{
    font-size: 2em;
    font: bold;
}

.banner-detail{
    font-size: larger;
}
.btn{
    align-items: center;
    font-size: 20px;
    padding: 15px;
    background-color: blueviolet;
    color: yellowgreen;
    border-radius: 10px;
}
.banner-img{
    margin-top: 50px;
    width: 1200px;
    margin-bottom: 80px;
}

.features-section{
    background-color: #85c7d1;
    padding-top: 50px;
    padding-bottom: 90px;
}
.features-evrythings{
    display: flex;
}

.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-left: 50px;
}

.quick-list{
    padding-left: 100px;
    padding-right: 100px;
    
}



.love-enjoy-section{
    background-color: ghostwhite;
    margin-top: 100px;
}
.love-enjoy-div{
    display: flex;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    
}